<div class='container-fluid'>  
    <div class="row" style="padding: 20px;">  
        <div class="col-sm-12 btn btn-success">  
            Use Bootstrap carousel in Angular 8 Project  
        </div>  
    </div>  
    <div class='col-12'>  
        <ngb-carousel>  
            <ng-template ngbSlide>  
                <img src="../assets/Banner1" alt="Banner 1">  
                <div class="carousel-caption">  
                    <h3 style="color: yellow">Delhi Metro</h3>  
                </div>  
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="../assets/Banner2" alt="Banner 2">  
                <div class="carousel-caption">  
                    <h3 style="color: yellow">Bangalore Metro</h3>  
                </div>  
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="../assets/Banner3" alt="Banner 3">  
                <div class="carousel-caption">  
                    <h3 style="color: yellow">Channai Metro</h3>  
                </div>  
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="../assets/Banner4" alt="Banner 4">  
                <div class="carousel-caption">  
                    <h3 style="color: yellow">Jaipur Metro</h3>  
                </div>  
            </ng-template>
        </ngb-carousel>  
    </div>  
  
</div>