<div class='container-fluid'>  
    <div class="row" style="padding: 20px;">  
        <div class="col-sm-12 btn btn-success">  
            Carousel Demo
        </div>  
    </div>  
    <div class='col-12'>  
        <ngb-carousel>  
            <ng-template ngbSlide>
                <div class="carousel-caption">  
                    <h3 style="color: yellow">Banner 1</h3>  
                </div>  
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="../../assets/banner2.jpeg" alt="Banner 2"/>  
                <div class="carousel-caption">  
                    <h3 style="color: yellow">Bangalore Metro</h3>  
                </div>  
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="../../assets/banner3.jpeg" alt="Banner 3"/>  
                <div class="carousel-caption">  
                    <h3 style="color: yellow">Channai Metro</h3>  
                </div>  
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="../../assets/banner4.jpeg" alt="Banner 4"/>  
                <div class="carousel-caption">  
                    <h3 style="color: yellow">Jaipur Metro</h3>  
                </div>  
            </ng-template>
        </ngb-carousel>  
    </div>  
  
</div>